## Build output
build/

## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats

## NuGet
*.nupkg
*.snupkg

## IDE
.idea/
.vs/
*.swp
*~

## Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
UserSettings/
*.utmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.unitypackage

## OS
.DS_Store
Thumbs.db
